* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(codm2.jpg);
  background-size: cover;
  overflow: hidden;
}

.flip-book {
  height: 400px;
  position: relative;
  perspective: 1500px;
}

input {
  display: none;
}

.page {
  width: 450px;
  height: 450px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: 3s;
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.1);
}

.front {
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5) 0 2px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
}

label {
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: #fff;
}

.bg-color1 {
  background-color: rgb(0, 225, 255);
}

.bg-color2 {
  background-color: rgb(255, 217, 0);
}

.text-white {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.text-black {
  color: #111;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

img {
  width: 65%;
  height: 65%;
  border-radius: 5px;
  transform: rotate(5deg);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

#page1 {
  z-index: 620;
}

#page2 {
  z-index: 290;
}

#page3 {
  z-index: 130;
}

#page4 {
  z-index: 70;
}

#page5 {
  z-index: 40;
}

#page6 {
  z-index: 20;
}

#page7 {
  z-index: 10;
}

#page8 {
  z-index: 1;
}

#checkbox1:checked ~ .flip-book #page1 {
  transform: rotateY(-180deg);
  z-index: 1;
}

#checkbox2:checked ~ .flip-book #page2 {
  transform: rotateY(-180deg);
  z-index: 2;
}

#checkbox3:checked ~ .flip-book #page3 {
  transform: rotateY(-180deg);
  z-index: 3;
}

#checkbox4:checked ~ .flip-book #page4 {
  transform: rotateY(-180deg);
  z-index: 4;
}

#checkbox5:checked ~ .flip-book #page5 {
  transform: rotateY(-180deg);
  z-index: 5;
}

#checkbox6:checked ~ .flip-book #page6 {
  transform: rotateY(-180deg);
  z-index: 6;
}

#checkbox7:checked ~ .flip-book #page7 {
  transform: rotateY(-180deg);
  z-index: 10;
}

#checkbox8:checked ~ .flip-book #page8 {
  transform: rotateY(-180deg);
  z-index: 20;
}

.frontPage-design {
  width: 400px;
  height: 80px;
  position: relative;
  top: 20%;
  left: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(250, 242, 200);
}

.frontPage-design h1 {
  width: 76%;
  padding-left: 5%;
  word-spacing: 5px;
  letter-spacing: 0.2rem;
  line-height: 1;
  color: rgb(58, 57, 57);
}

.frontPage-design::after {
  content: " ";
  position: absolute;
  top: -15%;
  left: -5%;
  display: block;
  height: 35px;
  width: 80px;
  background-color: rgb(108, 107, 179);
}

.backPage-design {
  background-color: rgb(250, 242, 200);
  width: 400px;
  height: 80px;
  position: relative;
  top: 20%;
  left: -15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.backPage-design h2 {
  padding-left: 2rem;
  color: rgb(46, 46, 46);
}

.backPage-design p {
  margin-top: -5px;
  padding-left: 2rem;
  font-size: 1.3rem;
  color: rgb(34, 34, 34);
}

#sakura_leaves {
  position: absolute;
  width: 100%;
  height: 100vh;
}
